.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .social-media-button-container {
  zoom: 1;
  text-align: center;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-facebook {
  color: #bad1da !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-facebook:hover {
  color: #bad1da !important;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #c7dae1;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-twitter {
  color: #bad1da !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-twitter:hover {
  color: #bad1da !important;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #c7dae1;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-envelope {
  color: #bad1da !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-envelope:hover {
  color: #bad1da !important;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button-envelope.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
  color: #c7dae1;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button {
  font-size: 1em;
  padding: 1em 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-flat-3a4ab1fa54a4 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}